.nav-menu{
    background-color: #0245A3;
}
.navbar{
    background-color: #0245A3;
}
.navbar-toggle{
    background-color: #0245A3;
}
.menu-bars{
    color: #ffffff;
}
span.welcome{
    font-size: large;
}