body {
  background-color: #b8dff0;
  background-image: url(../../../static/images/background.jpg);
  background-size: cover;
}
div.card {
  background-color: #b8dff0;
}
.table-responsive {
  background-color: #ffffff;
}
img {
  max-width: max-content;
  max-height: max-content;
  align-self: center;
}

